.fonte_titulo{
	font-family: 'Roboto Slab', serif;
}
	
.fonte_corpo{
	font-family: 'Sen', sans-serif;
}
	
.block-img{
	align-items:center;
	justify-content: center;
	align-content: space-between;
	margin-top: -7%;
}


.block-container{
	display: inline-block;
	grid-template-columns: auto auto auto;
}

.img-container{
	display: grid;
	grid-template-columns: auto auto auto;
	margin-top: 7%;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.block-item{
	padding-left: 4%;
	padding-right: 4%;
	font-size: 100%;
	text-align: center;
	display: block;
}

.block-item-next{
	padding-top: 7%;
	padding-left: 21%;
	font-size: 100%;
	text-align: center;
	display: grid;
}

.block-item-last{
	padding-right: 21%;
	font-size: 100%;
	text-align: center;
	display: grid;
}

.block-item-topo{
	padding-bottom: 7%;
	padding-top: 4%;
	font-size: 100%;
	text-align: center;
	display: grid;
}

.block-title{
	padding: 1%;
	font-size: 120%;
	text-align: center;
	margin-top: 4%;
	color: #1e211d;
	text-decoration: none;
}

.page{
  background-color: #d3d3d3;
}