
/* fonte usada para produzir o style da categoria https://www.youtube.com/watch?v=ztjNMqFqPpU */
.intro-header{
	border-style: solid;
	border-width: 1em;
	margin: 10em;
	padding: 20em;
}

.title1{
	text-align: center;
	margin-top: 25em;
}

.size-icon {
	float:  left;
	width:  20em;
	height: 10em;
	background-size: cover;
	margin-bottom: 10em;
}

.body-categoria{
	width: 100%;
	height: 30em;
}

.ul-categoria{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Roboto Slab', serif;
}

.nav-categoria{
	width: 100%;
	height: 5em;
	position: absolute;
	background-color: #d3d3d3;
	top: 0;
	left: 0;
	overflow: hidden;
	font-family: 'Roboto Slab', serif;
}

.ul-categoria{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	
}

.categorias:first-child{
	font-size: 1.20em;
	width: 23.9%;

}


.categorias{
  background-color: #d3d3d3;
	display: block;
	float: left;
	width: 15%;
	text-align: center;
	line-height: 3em;
	border-right: 0.02em solid #000000;
	font-family: Arial;

}

.categorias:last-child{
	border-right: none;
}

.cat1{
	display: block;
	color: #1e211d;
	text-decoration: none;
	font-weight: bold;
	width: 100%;
	height: 100%;
	position: relative;
	font-family: 'Roboto Slab', serif;
}
.cat2{
  text-transform: uppercase;
	display: block;
	color: #1e211d;
	text-decoration: none;
	font-size: 0.75em;
	font-weight: bold;
	width: 100%;
	height: 100%;
	position: relative;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
}
.dropdown-categorias{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 16em;
  box-shadow: 0em 0.8em 1.6em 0em rgba(0,0,0,0.2);
  padding: 12em 16em;
  z-index: 1;
}

.cat:hover .dropdown-categorias{
  display: block;
}

.cat1:hover{
	background: #df3945;
}

.cat2:hover{
	background-color: #df3945;
}

.categoria{
	position: relative;
	text-align: center;
	margin-top: 4em;
	font-size: 2em;
	font-family: 'Roboto Slab', serif;
}

.grid-container{
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 0.5em; 
	margin-top: 8em;
}

.grid-item{
	padding: 2em;
	font-size: 1.05em;
	text-align: center;
	display: block;
	font-family: Arial;
}

.grid-title{
	text-decoration:none;
	color: #000000;
	padding: 2em;
	font-size: 1.1em;
	text-align: center;
	margin-top: -5em;
	font-family: Arial;
}
.grid-img{;
	object-fit: cover;
	text-align: center;
	margin-top: -2em;
	margin-bottom: 5em;
}


.page{
  background-color: #d3d3d3;
}