.txt-center{
	text-align: center;
}

.profile-pic{
	width: 100%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.titulo-nome{
	position: relative;
	text-align: center;
	margin-top: 6rem;
	margin-bottom: 2rem;
	font-family: 'Roboto Slab', serif;
	font-size: 200%;
}

.cv-box{
	border-style: solid;
	border-width: 0.1rem;
	margin: 0.1rem 0.1rem 1rem 0.1rem;
	padding: 0.5rem;
	font-family: Arial;
	font-size: 1.5rem;
}

.grid-foto-cv{
	flex-wrap: nowrap | wrap | wrap-reverse;
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 0.1rem; 
	margin-top: 2rem;
}
