/* fonte usada para produzir o style da categoria https://www.youtube.com/watch?v=ztjNMqFqPpU */

.call{

	display:flex;
	flex-direction: column;
	align-items: center;
}

.call-figure {
  width: 33%;
}

.call-image {
  width: 50%;
  border-radius: 25%;
}

.call-text {
  width: 25%;
  margin-top: 1rem;
  text-align: center;
  font-size: 0.5rem;
}

.intro-header{
	border-style: solid;
	border-width: 1em;
	margin: 10em;
	padding: 20em;
}

.title1{
	text-align: center;
	margin-top: 25em;
}

.size-icon {
	float:  left;
	width:  20em;
	height: 10em;
	background-size: cover;
	margin-bottom: 10em;
}

.body-categoria{
	width: 100%;
	height: 30em;
}

.ul-categoria{
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Roboto Slab', serif;
}

.nav-categoria{
	width: 100%;
	height: 5em;
	position: absolute;
	background-color: #d3d3d3;
	top: 0;
	left: 0;
	overflow: hidden;
	font-family: 'Roboto Slab', serif;
}

.ul-categoria{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	
}

.categorias:first-child{
	font-size: 110%;
	width: 23.9%;

}


.categorias{
  	background-color: #d3d3d3;
	display: block;
	float: left;
	width: 15%;
	text-align: center;
	line-height: 3em;
	border-right: 0.02em solid #000000;
	font-family: 'Sen', sans-serif;

}

.categorias:last-child{
	border-right: none;
}

.cat1{
	display: block;
	color: #1e211d;
	text-decoration: none;
	font-weight: bold;
	width: 100%;
	height: 100%;
	position: relative;
	font-family: 'Roboto Slab', serif;
}
.cat2{
  text-transform: uppercase;
	display: block;
	color: #1e211d;
	text-decoration: none;
	font-size: 0.75em;
	font-weight: bold;
	width: 100%;
	height: 100%;
	position: relative;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
}
.dropdown-categorias{
  display: none;
  position: absolute;
  background-color: #5C5C5C;
  min-width: 16em;
  box-shadow: 0em 0.8em 1.6em 0em rgba(0,0,0,0.2);
  padding: 12em 16em;
  z-index: 1;
}

.cat:hover .dropdown-categorias{
  display: block;
}

.cat1:hover{
	background: #5C5C5C;
}

.cat2:hover{
	background-color: #5C5C5C;
}

.categoria{
	position: relative;
	text-align: center;
	margin-top: 4em;
	font-size: 2em;
	font-family: 'Roboto Slab', serif;
}

.grid-container{
	display: flex;
	padding: 2rem; 
	margin-top: 4rem;
	flex-direction: column;
	align-items: center;
}

.grid-img{
	margin-top: 5em;
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 100%;
}

.grid-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0.5em;
	margin-bottom: 2em;
	font-family: 'Sen', sans-serif;
	font-size: 1.05em;
}

.grid-title{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0.25em;
	color: #000000;
	font-size: 1.3em;
	font-family: 'Sen', sans-serif;
	
}

.page{
  background-color: #d3d3d3;
}

@media (max-width: 68rem) {
	.nav-categoria{
		width: 100%;
		font-size: .5rem;
}
	.categoria{
		margin-top: 3em;
		font-size: 1.5em;
}

	.grid-container{
		grid-template-areas: 
		'grid-img grid-title grid-item'
		'grid-img2 grid-title2 grid-item2'
		'grid-img3 grid-title3 grid-item3';
		padding: 0.5em; 
		margin-top: 3em;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 1em;
}
	.grid-title{
		font-size: 1rem;
}
	.grid-item{
		font-size: .75rem;
}
