.call{

	display:flex;
	flex-direction: column;
	align-items: center;
}

.call-figure {
  width: 50%;
}

.call-image {
  width: 50%;
  border-radius: 100%;
}

.call-text {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  font-size: 0.5rem;
}

.page{
  background-color: #d3d3d3;
}

.txt-center{
	text-align: center;
}

.profile-pic{
	width: auto;
	overflow: auto;
	display: center;
	margin-left:auto;
	margin-left: auto;

}

.titulo-nome{
	position: relative;
	text-align: center;
	margin-top: 6rem;
	margin-bottom: 2rem;
	font-family: 'Roboto Slab', serif;
	font-size: 2rem;
}

.cv-box{
	display: flex;
	border-style: solid;
	border-width: 0.1rem;
	margin: 0.1rem 0.1rem 1rem 0.1rem;
	padding: .5rem;
	font-family: 'Sen', sans-serif;
	font-size: 1rem;
}

.grid-foto-cv{
	padding: 0.1rem;
	margin-top: 2rem;
	grid-row-gap: 1rem;
}

@media (max-width: 70rem) {

	.titulo-nome{
		font-size: 1.5em;
		margin-top: 4rem;
}
	
	.cv-box{
		font-size: 0.25rem;
		margin-top: .01rem;

}
	.grid-foto-cv{
		grid-row-gap: 1rem;
		padding: 0.5rem;
		align-items: center;
	}

	.profile-pic{
		display: flex;
		width: 15rem;
		max-height: 70%;
		align-content: center;
	}
}