.intro-header{
	border-style: solid;
	border-width: 1px;
	margin: 10px;
	padding: 20px;
}

.txt-center{
	text-align: center;
}

.profile-pic{
	width: 400px;
	height: 400px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;

}

.profile-pic img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.titulo-nome{
	position: relative;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 2px;
	font-family: 'Roboto Slab', serif;
	font-size: 200%;
}

.cv-box{
	border-style: solid;
	border-width: 1px;
	margin: 10px 10px 20px 10px;
	padding: 5px;
	font-family: Arial;
	font-size: 1.5rem;
}

.size-icon {
    float:  left;
    width:  300px;
    height: 200px;
    background-size: cover;
    margin-bottom: 10px;
}

.grid-foto-cv{
	flex-wrap: nowrap | wrap | wrap-reverse;
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 10px; 
	margin-top: 2rem;
}
