
/* fonte usada para produzir o style da categoria https://www.youtube.com/watch?v=ztjNMqFqPpU */
.intro-header{
	border-style: solid;
	border-width: 1px;
	margin: 10px;
	padding: 20px;
}

.title1{
	text-align: center;
	margin-top: 25px;
}

.size-icon {
	float:  left;
	width:  300px;
	height: 200px;
	background-size: cover;
	margin-bottom: 10px;
}

.body-categoria{
	width: 100%;
	height: 50px;
}

.ul-categoria{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Roboto Slab', serif;
}

.nav-categoria{
	width: 100%;
	height: 50px;
	position: absolute;
	background-color: white;
	top: 0;
	left: 0;
	overflow: hidden;
	font-family: 'Roboto Slab', serif;
}

.ul-categoria{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	
}

.categorias:first-child{
	font-size: 26px;
	width: 23.9%;

}


.categorias{
	display: block;
	float: left;
	width: 15%;
	text-align: center;
	line-height: 50px;
	border-right: 1px solid #1e211d;
	font-family: Arial;

}

.categorias:last-child{
	border-right: none;
}

.cat1{
	display: block;
	color: #1e211d;
	text-decoration: none;
	font-weight: bold;
	width: 100%;
	height: 100%;
	position: relative;
	font-family: 'Roboto Slab', serif;
}
.cat2{
	display: block;
	color: #1e211d;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	width: 100%;
	height: 100%;
	position: relative;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
}
.dropdown-categorias{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.cat:hover .dropdown-categorias{
  display: block;
}

.cat1:hover{
	background: #df3945;
}

.cat2:hover{
	background-color: #df3945;
}

.categoria{
	position: relative;
	text-align: center;
	margin-top: 100px;
	font-size: 200%;
	font-family: 'Roboto Slab', serif;
}

.grid-container{
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 10px; 
	margin-top: 150px;
}

.grid-item{
	padding: 20px;
	font-size: 15px;
	text-align: center;
	display: block;
	font-family: Arial;
}

.grid-title{
	text-decoration:none;
	color: #1e211d;
	padding: 20px;
	font-size: 19px;
	text-align: center;
	margin-top: -50px;
	font-family: Arial;
}
.grid-img{;
	object-fit: cover;
	text-align: center;
	margin-top: -60px;
	margin-bottom: 60px;
}

